<form action="/create_favorite_from_recipe" method="post">

  <input type="hidden" name="recipes_id" value="<%= @recipe.id %>">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @favorite.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="cuisine_id">
      Cuisine
    </label>

    <%= select_tag(:cuisine_id, options_from_collection_for_select(Cuisine.all, :id, :cuisine, @favorite.cuisine_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create favorite
  </button>
</form>
