<form action="/create_favorite_from_cuisine" method="post">

  <div class="form-group">
    <label for="recipes_id">
      Recipes
    </label>

    <%= select_tag(:recipes_id, options_from_collection_for_select(Recipe.all, :id, :user_id, @favorite.recipes_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @favorite.user_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="cuisine_id" value="<%= @cuisine.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create favorite
  </button>
</form>
