<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Recipes

    <a data-toggle="collapse" href="#cuisine_recipes_new_form">
      Add recipe
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @cuisine.recipes.each do |recipe| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/recipes/<%= recipe.id %>">
          <%= recipe.user_id %>
        </a>

        <%if current_user == recipe.user %>
          <a href="/delete_recipe_from_cuisine/<%= recipe.id %>">
            Delete
          </a>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="cuisine_recipes_new_form">
        <%= render partial: "cuisine_templates/cuisine_recipes_new_form" %>
      </div>
    </div>

  </ul>
</div>
