<!-- Validation failure messages -->
<% if @cuisine.present? %>
  <% if @cuisine.errors.any? %>
    <% @cuisine.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new cuisine
</h1>


<hr>

<!-- Form cuisine start -->
<form action="/create_cuisine" method="post">
<!-- Form cuisine end -->

  <!-- Label and input for cuisine start -->
  <div class="form-group">
    <label for="cuisine">
      Cuisine
    </label>

    <!-- Input for cuisine start -->
    <input type="text" id="cuisine" name="cuisine" class="form-control" value="<%= @cuisine.cuisine %>">
    <!-- Input for cuisine end -->
  </div>
  <!-- Label and input for cuisine end -->

  <button class="btn btn-block btn-outline-secondary">
    Create cuisine
  </button>
</form>

<hr>

<a href="/cuisines">
  Go back
</a>
